/* body {
  background: black;
  overflow: hidden;
  margin: 0;
}

svg {
  width: 100vw;
  height: 100vh;
  opacity: 0;
}

defs path {
  stroke: white;
  stroke-width: 2px;
} */


#news-box {
  padding: 10px;

}
#news-box .content {
  justify-content: flex-start;
  align-items: flex-start;
}
ul.news {
  list-style: none;
  width: 100%;
  /* padding: 20px; */
}

ul.news>li {
  transition: 0.4s;
  border-radius: 3px;
  font-size: 14px;
  font-weight: normal;
  padding-top: 4px;
  padding-bottom: 4px; 
  margin-bottom: 4px;
  color: rgba(0, 0, 0, 0.75);
  padding-left: 20px;
  
  text-shadow: 5px 3px 10px rgba(0, 0, 0, 0.8);
  cursor: pointer;
  /* box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px; */
}

ul.news>li:hover {
  transition: 0.2s;

  /* background-color: rgba(0, 0, 0, 0.2); */
  color: rgba(0, 0, 0, .9);
  /* color: rgba(255, 255, 255, .8); */
  text-shadow: 5px 3px 10px rgba(255, 255, 255, 1);
  text-shadow: 5px 3px 10px rgba(255, 255, 255, 1);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 6px 2px;
  box-shadow: rgba(255, 255, 255, 1) 0px 0px 6px 3px;
  box-shadow: rgba(255, 255, 255, 1) 0px 0px 4px 4px;
}