* {
    
    color: rgb(14, 104, 184);
    margin: 0;
    padding: 0;
}
body{
    position: relative;
    font-family: arial;
    margin: 0;
    padding: 0;
    background: transparent;

    width: 100vw;
    height: 100vh;
    background-color: #F5F9F4;
    color: rgb(14, 104, 184);
    font-weight: bolder;
    font-size: 2.4rem;
    background-size: 20px 20px, 20px 20px;
    background-image: linear-gradient(90deg, rgb(224,231,254) 1px, transparent 2px),
                    linear-gradient(0, rgb(224,231,254) 1px, transparent 2px); 
    z-index: 0;  
}
.container > div {
    opacity: 1;
}

nav { 
    margin: 0 auto;
    text-align: center;
    /* line-height: 50px; */
}
nav .subtitle {
    color: rgb(51, 187, 111);
    display: none;
}
nav a {
    padding: 10px;
    margin: 10px;
    text-decoration: none;
}

nav a:hover {
    margin: 20px;
    text-decoration: none;
    font-style: italic;
}
nav a:hover .subtitle {
    display: block;
}

#zbox {
    width: 100vw;
    height: 100vh;
    position: fixed; 
    left: 0;
    top: 0;
    z-index: -1;
    /* opacity: 0.3; */
    background-size: 20px 20px, 20px 20px;
    /* background-image: linear-gradient(90deg, rgb(224,231,254) 1px, transparent 2px),
                    linear-gradient(0, rgb(224,231,254) 1px, transparent 2px);  */
}