* {
  color: rgb(14, 104, 184);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto, Georgia, 'Times New Roman', Times, serif;
}

:root {
  --header-height: 64px;
}

@font-face {
  font-family: 'roboto-light';
  src: url('/assets/fonts/Roboto-Light.ttf');
  font-family: 'roboto-thin';
  src: url('/assets/fonts/Roboto-Thin.ttf');
  font-family: 'roboto-black';
  src: url('/assets/fonts/Roboto-Black.ttf');
  font-family: 'roboto-bold';
  src: url('/assets/fonts/Roboto-Bold.ttf');
  font-family: 'roboto';
  src: url('/assets/fonts/Roboto-Regular.ttf');

}


body {
  position: relative;
  /* font-family: arial; */
  margin: 0;
  padding: 0;
  background: transparent;

  width: 100%;
  height: 100vh;
  background-color: #F5F9F4;
  color: rgb(14, 104, 184);
  font-weight: bolder;
  font-size: 2.4rem;
  background-size: 20px 20px, 20px 20px;
  background-image: linear-gradient(90deg, rgb(224, 231, 254) 1px, transparent 2px),
    linear-gradient(0, rgb(224, 231, 254) 1px, transparent 2px);
  z-index: 0;


  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 70px calc(100vh - 70px);
  grid-auto-flow: column;
}

.container>div {
  opacity: 1;
}

nav {
  margin: 0 auto;
  text-align: center;
  /* line-height: 50px; */
}

#canvas {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  /* opacity: 0.3; */
  /* background-size: 20px 20px, 20px 20px; */
  /* background-image: linear-gradient(90deg, rgb(224,231,254) 1px, transparent 2px),
                    linear-gradient(0, rgb(224,231,254) 1px, transparent 2px);  */
}

header {
  width: 100%;
  height: 64px;
  /* display: grid; */
  /* grid-template-rows: 100%;
  grid-template-columns: 250px auto 120px; */
  /* grid-auto-flow: row; */
  /* border-bottom: 3px solid steelblue; */
  /* align-items: center; */
  /* display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center; */
  overflow: hidden;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}
header > .wrapper { 
  width: 100%;
  height: 64px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

header .logo {
  font-size: 2rem;
  padding: 1rem 3rem;
  justify-self: center;
  /* margin-left:  20px; */
}

header nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

header nav a {
  color: #000;
  font-size: 1rem;
  padding: 0rem 2rem;
  line-height: calc(var(--header-height) - 6px);
  border: 3px solid transparent;
  text-decoration: none;
  /* justify-self: center; */

  /* margin-left:  20px; */
}

header nav a:hover {
  cursor: pointer;
  border-top: 3px solid rgb(118, 197, 149);
  text-shadow:
    -1px -1px 1px #ccc,
    1px 1px 1px rgb(118, 197, 149);
  /* border-top: 3px solid rgba(249, 207, 99); */
  /* border-bottom: 1px solid rgb(118, 197, 149); */
}

header .banner {
  font-size: 1.2rem;
  background-image: url();
}

.main {
  /* width: 100%;
    height: 100%; */
  min-height: calc(100vh - 64px);
  width: 100%;
  /* margin-top: 64px; */

  display: flex;
  /* grid-template-rows: 100%;
  grid-template-columns: 250px calc(100% - 250px); */
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  padding: 20px;
  height: fit-content;
}



.main>.aside {
  flex: 1 1 auto;
  width: 250px;
  padding: 20px;
  /* border-right: 1px solid steelblue; */
  /* border-radius: 1em;  */
  /* border-top-right-radius: 30% 10%;  */
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  background: rgba(255, 255, 255, 0.8);

  margin-left: 10px;
  border-radius: 8px;
}

.main>.content {
  flex: 1 1 auto;
  width: calc(100% - 250px - 20px);
  margin-right: 10px;
  /* overflow: hidden;
  overflow-y: auto; */

  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  background: rgba(255, 255, 255, 0.8);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.spin {
  display: inline-block;
  animation-name: spin;
  animation-duration: 2500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.spinner {
  /* width: 60px;
    height: 60px; */
  display: inline-block;
  /* background-color: #67CF22; */

  /* margin: 100px auto; */
  -webkit-animation: rotateplane 15s infinite ease-in-out;
  animation: rotateplane 15s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
  0% {
    -webkit-transform: perspective(120px)
  }

  50% {
    -webkit-transform: perspective(120px)
  }

  100% {
    -webkit-transform: perspective(120px) rotate(180deg)
  }
}

@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotate(0deg);
  }

  50% {
    transform: perspective(120px) rotate(-180.1deg);
  }

  100% {
    transform: perspective(120px) rotate(-180deg);
  }
}

.card {
  background-size: 15px 15px, 15px 15px;
  background-image: linear-gradient(90deg, rgba(224, 231, 254, 0.5) 1px, transparent 2px),
    linear-gradient(0, rgba(224, 231, 254, 0.5) 1px, transparent 2px);

  border-radius: 6px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 18px 36px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -12px inset;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

  background-image: linear-gradient(90deg, rgba(224, 231, 254, .5) 1px, transparent 2px),
    linear-gradient(0, rgba(224, 231, 254, .5) 1px, transparent 2px);
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;

}

.card>.content {
  flex: 1 1 auto;

  height: calc(100% - 36px);

  display: flex;
  justify-content: center;
  align-items: center;
}

.card>.content>.avatar {
  width: 130px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 80px;
  overflow: hidden;

  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;


}

.card>.footer {
  flex: 1 1 auto;
  height: 36px;
  font-size: 18px;

  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(249, 207, 99);
  color: white;
  
  box-shadow: rgba(249, 207, 99, 0.75) 0px 30px 60px 0px;
  /* , rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */

}

.half { 
}

.half header > .wrapper,
.half .main
 {
  max-width: 1366px;
  margin: 0 auto;
}